@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: auto;
}

.menu {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: fixed;
    z-index: 10;
}

.menu_container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.menu_links {
    height: 100%;
    transition: transform .5s;
    display: flex;
    z-index: 10;
}

.menu_item {
    list-style: none;
    position: relative;
    height: 100%;
    clip-path: var(--clip);
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_link {
    height: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.menu_link:hover {
    background-color: #5e7094;
}

.menu_hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 36px;
}

.banner {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.textos {
    width: 50%;
    color: #fff;
}

.banner img {
    margin-top: 80px;
    height: 450px;
    object-fit: cover;
    animation: moverDerecha 2s ease-in;
}

.titulo {
    width: 100%;
    font-size: 40px;
    margin-top: 10rem;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitulo {
    color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 3rem;
    text-align: center;
    animation: moverIzquierda 3s ease-in;
}

.type {
    animation: animation 3s steps(50), transparent .5s step-end infinite alternate;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes animation {
    from {
        width: 0px;
    }
}
@keyframes transparent {
    50% {
        border-color: transparent;
    }
}

.button {
    margin-left: 220px;
    padding: 10px 18px;
    border: 1px solid #f2f2f2;
    background-color: transparent;
    color: #f2f2f2;
    border-radius: 20px;
    cursor: pointer;
    animation: moverArriba 2s ease-in;
    z-index: 2;
    transition: .5;
}

.button:hover {
    font-weight: bold;
    color: #f2f2f2;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    border: #9f8ad0;
}

a .fa-arrow-right {
    font-size: 20px;
    color: #f2f2f2;
}

.line {
    height: 300px;
    width: 100%;
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

/* ------------------------------------------------------------ */
/* ---------------------------- ABAUT ------------------------- */
/* ------------------------------------------------------------ */

#abaut {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#abaut img {
    background-image: url(../img/blob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #070621;
    margin-bottom: 50px;
    font-size: 45px;
    letter-spacing: 2px;
    animation: moverIzquierda 2s ease-in;
}

.softkil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.fa-brands, 
.fa-solid {
    font-size: 32px;
    padding: 20px;
    color: #070621;
}

.fa-brands:hover {
    font-size: 50px;
    color: #A43931;
}

.fa-database:hover {
    font-size: 50px;
    color: #39a060;
}

.fa-node:hover {
    color: #12b707;
}

.fa-react:hover {
    font-size: 50px;
    color: #07558e;
}

.fa-git-alt:hover {
    color: #ec6f2c;
}

.fa-github:hover {
    color: #000;
}

.fa-figma:hover {
    color: #731d8d;
}

.contenedor-sobre-mi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-sobre-mi img {
    width: 40%;
}

.parrafo {
    width: 45%;
}

.texto {
    margin-bottom: 20px;
}

.n-abut {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #07054e;
}

.btn {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #070621;
    border-radius: 16px;
    color: #070621;
}

.btn:hover {
    color: #f2f2f2;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    font-weight: bold;
    border: none;
}


/* ------------------------------------------------------------ */
/* ------------------------- PROYECTOS ------------------------ */
/* ------------------------------------------------------------ */

.gallery {
    background-color: #f2f2f2;
}

.contenedor-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery {
    object-fit: cover;
    width: 30%;
    height: 30%;
    display: inline-block;
    margin: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close,
.fa-circle-xmark {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    font-size: 22px;
    color: #f2f2f2;
    cursor: pointer;
}

.experts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.subtitle {
    text-align: center;
    margin-bottom: 80px;
}

.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* ------------------------------------------------------------ */
/* ------------------------- ANIMACIONES ---------------------- */
/* ------------------------------------------------------------ */

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ------------------------------------------------------------ */
/* --------------------------- FOOTER ------------------------- */
/* ------------------------------------------------------------ */

footer {
    background: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #f2f2f2;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.linea {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}


/* ------------------------------------------------------------ */
/* ------------------------ RESPONSIVE ------------------------ */
/* ------------------------------------------------------------ */

@media (max-width: 800px) {
    .menu_hamburger {
        display: flex;
    }
    .menu_item {
        --clip: 0;
        overflow: hidden;
    }
    .menu_item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }
    .menu_item--show {
        background-color: var(--background);
    }
    .menu_links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu_links--show {
        transform: unset;
        width: 100%;
    }
    .menu_link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
}


